<div class="bg">
    <div class="container-fluid">
        <div class="row">

          <div class="col-lg text-center white-txt text-cont">

            <h1 class="text-center display-2">{{ hi }}</h1>

            <button class=" btn btn-lg btn-success"><a href="https://pokeapi.co/" class="white-txt">Link to API.</a></button>

            <div class="music text-center">
                <h2>Here's some game soundtracks for nostalgia's sake. Disabled autoplay after some consideration. ;)</h2>
                <iframe width="360" height="100" src="https://www.youtube.com/embed/y9oi-pJMMZk?autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="mx-auto d-block"></iframe>
            </div>

          </div>
        </div><!--end row 1-->

        <div class="row">
         <div class="col-lg text-center white-txt">
            <h2 class="white-txt text-center">
                What the heck is an API? I don't even know any more. Google knows.
              </h2>
            <p>{{ ps }}</p>
         </div>
        </div>

      </div>
</div>
